* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/****** general styling ******/

body {
    background-image: url("images/bg-anime-wallpaper.jpg");
    /*background: url("images/4512352-group-of-women-anime-girls-sea-summer-bikini-sky-harbor-life.png");*/
    font-family: 'Sulphur Point', sans-serif;
    text-shadow: 1px 1px 5px #000000;
    color: #ffffff;
    min-width: 500px;
}

h1#title {
    font-weight: 700;
    font-size: 48px;
    margin: 20px;
    text-align: center;
}

/****** INPUT ******/

.input-wrap {
    width: 340px;
    display: flex;
    justify-content: center;
    margin: auto;
}

::placeholder {
    color: lightsteelblue;
}

.input-wrap .searchbox {
    width: 100%;
    padding: 12px;
    color: #313131;
    font-size: 16px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px 16px 0px 16px;
    transition: 0.4s;
    border-bottom: 2px solid #FFFFFF;
}

.input-wrap .searchbox:focus {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 16px 0px 16px 0px;
}

.input-wrap .searchbox:focus::placeholder {
    color: steelblue;
}

/****** TODAY ******/

.currentOuterWrap {
    margin: auto;
    width: 340px;
    padding: 6px;
    border: 2px solid #FFFFFF;
    border-radius: 26px;
    box-shadow: 2px 2px 6px #000000;
}

.currentInnerWrap {
/*    background-image: url("./images/abstract-wave-pastel-upside-down.jpg");*/
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    padding: 10px;
    padding-bottom: 0px;
}

/******* GEO ******/

.geodata {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.geodata > #location {
    font-size: 32px;
    font-weight: 700;
}

.geodata > #date {
    font-size: 16px;
    font-weight: 300;
}

/****** CONDITION  ******/

#conditionWrap {
    width: 100%;
    margin-top: 20px;
}

.condition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;

}

#conditionWrap > img {
    height: 90px;
    margin: auto;
    margin-top: 10px;
}

div#conditionWrap > div.condition {
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    height: 45px;
    text-align: center;
    margin: auto;
}


/****** TEMPERATURE ******/

div.outerTempWrap {
    display: flex;
    justify-content: center;
}

div.innerTempWrap {
    text-align: right;
    width: 65%;
    padding: 5px;
}

div.innerTempWrap > span.currentTemp#currentTemp {
    font-weight: 700;
    font-size: 90px;
    text-shadow: 1px 1px 6px #000000;
}

div.innerTempWrap > span.currentTemp#degree {
    font-weight: 300;
    font-size: 80px;
    text-shadow: 1px 1px 6px #000000;
}

div.innerTempWrap > span.currentTemp#celsius {
    font-weight: 400;
    font-size: 60px;
}

/****** HI-LO TEMPERATURE ******/

div.minmaxTempWrap {
    height: 128px;
    width: 35%;
    padding: 10px;
    padding-top: 35px;
}

div.minmax {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#splitBorder {
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 5px #000000;
    margin: 5px;
}

/****** WEEK ******/

.forecastTitle {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.weekContainer {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

/****** TODAY ******/

.weekDayOuterWrap {
    margin: 10px;
    width: 175px;
    padding: 6px;
    border: 2px solid #FFFFFF;
    border-radius: 26px;
    box-shadow: 2px 2px 6px #000000;
}

.weekDayInnerWrap {
/*    background-image: url("./images/abstract-wave-pastel-upside-down.jpg");*/
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    width: 100%;
    margin: auto;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.weekDayInnerWrap > img {
    margin: auto;
    width: 45px;
    margin-top: 10px;
}

.weekdayCondition {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    text-shadow: 1px 1px 5px #000000;
}

.weekdayTemperature {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
}
