* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/****** general styling ******/

body {
    background-image: url("images/bg-anime-wallpaper.jpg");
    /*background: url("images/4512352-group-of-women-anime-girls-sea-summer-bikini-sky-harbor-life.png");*/
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sulphur Point', sans-serif;
    text-shadow: 1px 1px 5px #000000;
    color: #ffffff;
    width: 100vw;
}

h1#title {
    font-weight: 700;
    font-size: 40px;
    margin: 10px;
    margin-top: 15px;
    text-align: center;
}

/****** INPUT ******/

.input-wrap {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
}

::placeholder {
    color: lightsteelblue;
}

.input-wrap .searchbox {
    font-family: 'Sulphur Point', sans-serif;
    width: 100%;
    padding: 12px;
    color: #313131;
    font-size: 16px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 24px 24px 24px 24px;
    transition: 0.4s;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 10px;
}

.input-wrap .searchbox:focus {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.75);
    font-family: 'Sulphur Point', sans-serif;

}

.input-wrap .searchbox:focus::placeholder {
    color: steelblue;
    font-family: 'Sulphur Point', sans-serif;
}

.respDesign {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.main {
    margin: 20px;
}

.weekWrap {
    flex-flow: column wrap;
    align-self: stretch;
    margin: 10px;
}

/****** TODAY ******/

.currentOuterWrap {
    margin: auto;
    width: 300px;
    padding: 6px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 2px 2px 6px #000000;
    margin-bottom: 20px;
}

.currentInnerWrap {
    /*    background-image: url("./images/abstract-wave-pastel-upside-down.jpg");*/
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 10px;
    padding-bottom: 0px;
}

/******* GEO ******/

.geodata {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 20%;
}

.geodata > #location {
    font-size: 32px;
    font-weight: 700;
}

.geodata > #date {
    font-size: 16px;
    font-weight: 300;
}

/****** CONDITION  ******/

#conditionWrap {
    width: 100%;
    margin-top: 30px;
}

.condition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    height: 30%;
}

#conditionWrap > img {
    height: 90px;
    margin: auto;
}

div#conditionWrap > div.condition {
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    height: 45px;
    text-align: center;
    margin: auto;
}


/****** TEMPERATURE ******/

div.outerTempWrap {
    display: flex;
    justify-content: center;
    height: 30%;
}

div.innerTempWrap {
    text-align: right;
    width: 65%;
    padding: 5px;
}

div.innerTempWrap > span.currentTemp#currentTemp {
    font-weight: 700;
    font-size: 85px;
    text-shadow: 1px 1px 6px #000000;
}

div.innerTempWrap > span.currentTemp#degree {
    font-weight: 300;
    font-size: 80px;
    text-shadow: 1px 1px 6px #000000;
}

div.innerTempWrap > span.currentTemp#celsius {
    font-weight: 400;
    font-size: 60px;
}

/****** HI-LO TEMPERATURE ******/

div.minmaxTempWrap {
    height: 128px;
    width: 35%;
    padding: 10px;
    padding-top: 35px;
}

div.minmax {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#splitBorder {
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 5px #000000;
    margin: 5px;
}

/****** WEEK ******/

.forecastTitle {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.weekContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

/****** WEEKDAY ******/

.weekDayOuterWrap {
    margin: 20px;
    padding: 6px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 2px 2px 6px #000000;
}

.weekDayInnerWrap {
    /*    background-image: url("./images/abstract-wave-pastel-upside-down.jpg");*/
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    width: 100%;
    margin: auto;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.weekDayInnerWrap > img {
    width: 45px;
    height: 45px;
    display: block;
}

.weekConditionWrap {
    display: flex;
    justify-content: center;
}

.weekdayCondition {
    display: flex;
    align-self: flex-end;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
    text-shadow: 1px 1px 5px #000000;
    margin-left: 20px;
    margin-right: 20px;
}

.weekdayTemperature {
    display: flex;
    align-self: flex-end;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
